version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: dbname
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
  web:
    build: ../app
    environment:
      DATABASE_URL: postgresql://user:password@db:5432/dbname
    ports:
      - "8080:5000"
    depends_on:
      - db
volumes:
  postgres_data:
